.node {
	box-sizing: border-box;
	border: 1px solid #353935;
	border-radius: 3px;
	background-color: #cacaca;
	aspect-ratio: 1;
}
.start {
	background-color: #00ff00;
}

.finish {
	background-color: #ee4b2b;
}

.node-marked {
	animation-name: markedAnimation;
	animation-duration: 0.75s;
	animation-timing-function: ease;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes markedAnimation {
	from {
		transform: scale(1);
		background-color: #f000ff;
	}

	to {
		transform: scale(1);
		background-color: #dda0dd;
	}
}

.node-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {
	0% {
		transform: scale(1);
		background-color: #7cb9e8;
	}
	100% {
		transform: scale(1);
		background-color: #007fff;
	}
}

.node-active {
	animation-name: generateWalls;
	animation-duration: 0.1s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes generateWalls {
	from {
		transform: scale(1);
		background-color: #f000ff;
	}
	to {
		transform: scale(1);
		background-color: #dddddd;
	}
}
