.maze {
	width: 720px;
	border: 4px solid #353935;
}
.maze-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.maze-div {
	margin-top: 32px;
	margin-right: 15%;
}

.buttons-div {
	display: flex;
	width: 276px;
	margin-top: 32px;
	margin-right: 1%;
	border: 1px solid #353935;
	border-radius: 4px;
	background-color: #e5e4e2;
	box-shadow: -2px 6px 8px rgba(0, 0, 0, 0.16);
}
.buttons-header {
	color: #222222;
	font-size: 24px;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 4px;
}

.buttons-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	font-family: "Montserrat", sans-serif;
}
.alg-button {
	font-size: 20px;
	font-weight: 500;
	height: 36px;
	width: 120px;
	background-color: white;
	border: 1px solid #353935;
	color: #353935;
	border-radius: 5px;
	margin-bottom: 10px;
}
.alg-button:hover {
	background-color: #4169e170;
	color: white;
	border: 0;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.alg-button.selected {
	background-color: #4169e1;
	color: white;
	border: 0;
}
.footer {
	position: absolute;
	top: 288px;
	display: flex;
}
.reset-button {
	font-size: 20px;
	font-weight: bold;
	height: 36px;
	width: 110px;
	border: 0;
	border-radius: 20px;
	margin-left: 12px;
	background-color: #ee4b2b;
	color: white;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}
.reset-button:hover {
	background-color: #ff2400;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

.step-count {
	display: flex;
	align-items: center;
	height: 36px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 32px;
	color: #222222;
}
.step-text {
	color: #007fff;
	margin-left: 4px;
}

.loading-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.warning {
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 600;
	color: #222222;
}
