.maze {
	width: 720px;
	border: 4px solid #353935;
}
.maze-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.maze-div {
	margin-top: 40px;
	margin-right: 15%;
}

.buttons-div {
	display: flex;
	width: 260px;
	margin-top: 40px;
	margin-right: 1%;
	border: 1px solid #444;
	border-radius: 4px;
	background-color: #fafafa;
}
.buttons-header {
	color: #222222;
	font-size: 24px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 2px;
}

.buttons-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

.button {
	font-family: "Montserrat", sans-serif;
}
.alg-button:hover {
	background-color: #007fff70;
	color: white;
	border: 0;
}
.alg-button.selected {
	background-color: #4169e1;
	color: white;
	border: 0;
}
.alg-button {
	font-size: 18px;
	font-weight: 500;
	height: 40px;
	width: 120px;
	background-color: white;
	border: 1px solid #333333;
	color: #333333;
	border-radius: 5px;
	margin-bottom: 6px;
}

.footer {
	position: absolute;
	top: 240px;
	display: flex;
}
.reset-button {
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	width: 120px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-left: 5px;
}

.step-count {
	display: flex;
	align-items: center;
	height: 40px;
	width: 120px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 12px;
}
.step-text {
	color: #ef3e36;
	margin: 0;
}

.loading-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1;
}
